@import url("https://odysseyui.netlify.app/CSS/odyssey.css");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg-color: #313335;
    --footer: #084C61;
    --question: #454851;
    --right: #4FBA52;
}

html {
    background-color: var(--bg-color);
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Cormorant Garamond', serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: var(--sp-1);
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    gap: var(--sp-1);
    border-bottom: 1px solid var(--solid-gray);
    justify-content: space-around;
    margin-top: var(--sp-0-25);
    padding-bottom: var(--sp-0-25);
    width: 100%;
}

main {
    align-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: var(--sp-1);
    justify-content: center;
    width: 100%;
}

footer {
    align-items: center;
    background-color: var(--footer);
    border-top: 1px solid var(--solid-gray);
    color: var(--white);
    padding-top: var(--sp-0-5);
    width: 100%;
}

@media only screen and (max-width:450px) {
    html {
        font-size: 75%;
    }

    main{
        width: 100%;
    }
}

@media only screen and (max-width:350px) {
    html {
        font-size: 70%;
    }
}