@import url("/style.css");

header{
    color: var(--primary-color);
    justify-content: space-between;
}

header>a{
    margin: var(--sp-0-5);
    font-size: 1.5rem;
    font-weight: 900;
}

main{
    justify-content: flex-start;
}

main>*{
    width: 50%;
}

.progress-wrapper{
    justify-content: space-between;
    gap:var(--sp-1);
}

.options-wrapper>li{
padding: var(--sp-1-5);
font-size: 1.25rem;
margin:var(--sp-0-5);
background-color: var(--question);
color: var(--white);
}

.options-wrapper>li:hover{
    background-color: var(--cadet);
}